@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .items-hover {
    background-color: whitesmoke;
  }
}

@layer utilities {
  .greying {
    background-color: rgba(157, 157, 157, 0.334);
  }
  .short-border {
    position: relative;
  }
  .short-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    /* Adjust this value to change the border length */
    height: 2px;
    background-color: #334155;
    /* This is the color for slate-700 */
  }
}
